* {
  margin: 0 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  top: 0px;
  height: 69px;
  width: 100%;
  z-index: 1;
  background-color: inherit;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: flex;
}

a {
  text-decoration: underline;
  color: seashell;
  margin: auto 20px;
}

.section {
  position: relative;
  top: 69px;
  background-color: black;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.missioncontainer {
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.missionstatement {
  background-color: black;
  width: 100%;
}

.teacontainer {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teaimage {
  height: 200px;
  width: 300px;
}

#featuredtea {
  margin: 50px 0px;
}

.locationcontainer {
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/img-locations-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.address {
 width: 300px;
 background-color: black;
 opacity: 1;
 margin: 0px 20px;
 display: inline-block;
}

.contact {
  height: 200px;
}

.copyright {
  text-align: left;
}

h2 {
  padding-top: 10px;
}

h3, p {
  padding: 15px;
}

h4 {
  padding: 10px;
}

h5 {
  padding: 20px;
}
